body {
     margin: 0;
     font-family: Arial, sans-serif;
     color: #333;
 }
 
 header {
     display: flex;
     justify-content: space-between;
     padding: 20px;
     background-color: #1d1d1d;
     color: #fff;
     position: sticky;
     top: 0px;
     z-index: 1;
 }
 
 header .logo {
     font-size: 24px;
     font-weight: bold;
     color: #ff6600;
 }
 
 header nav ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     display: flex;
 }
 
 header nav ul li {
     margin: 0 15px;
     padding: 3px;
 }
 header nav ul li a:hover{
    color: #ff6600;
}
 
 header nav ul li a {
     color: #fff;
     text-decoration: none;
 }
 
 .hero {
    width: 100%;
     color: #fff;
     position: relative;
     overflow: hidden;
 }
 .hero-slider{
    width: 100%;
    margin: auto;
    height:93vh;
 }
 .hero-slider img{
    width: 100%;
    height: 100%;
 }
.hero-content{
    position: absolute;
    width: 100%;
    bottom: 10%;
    padding: 30px 10px;
    background-color:rgba(0,0,0, 0.5);
    text-align: center;
}

.wrapper {
   width: 420px;
   background: rgba(255, 255, 255, 0.1); 
      border: 2px solid rgba(255, 255, 255, 0.3);
   backdrop-filter: blur(9px);
   color: #0b0705;
   border-radius: 12px;
   padding: 60px 90px;
}
 .hero-content h1 {
     font-size:40px;
    line-height: 0px;
    text-transform: capitalize;
 }
 
 .hero-content p {
     font-size:x-large;
     color: #c6c6c6;
     text-transform: capitalize;
 }
 
 .hero-content > button,.hero-content-btn{
     background-color: #ff6600;
     color: #fff;
     padding: 10px 15px;
     text-decoration: none;
     border-radius: 5px;
     font-size:medium;
 }


 

.services {
   width: 100%;
   text-align: center;
   padding: 10vh 0vh;
}
.services h2{
    text-align: center;
    font-size:x-large;
    text-transform: uppercase;
    display: inline;
    border-bottom: 4px solid #ff6600;
    border-radius: 10px;
    padding: 5px 10px;
}
.service-body{
width: 80%;
margin: auto;
display: flex;
justify-content: space-between;
padding: 10vh 0vh;
}
.service-body .service-item{
    width: 25%;
    background-color: #fff;
    padding: 2%;
    box-shadow: 0px 0px 10px #cbcbcb;
    border-radius: 5px;
    border: 2px solid #fff;
    position: relative;
}
.service-item h3{
    font-size:x-large;
}
.service-item p{
    font-size:medium;
    text-transform: capitalize;
}
.service-item .button{
    position:absolute;
    width: 100%;
    height: 35%;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0px;
    bottom: 0px;
    display: none;
}
.service-item:hover .button{
    display:block;

}
.service-item button{
    margin-top: 20px;
    background-color: crimson;
    padding:5px 10px;
    border-radius: 5px;
}
.service-item a{
    color: #fff;
    text-decoration: none;
}
.service-item img{
    width: 70px;
    height: 70px;
}
.service-body .service-item:hover{
    box-shadow: none;
    cursor: pointer;
    border: 2px solid #666;
}
.service-body .service-item:nth-child(1)
{
    background:linear-gradient(to bottom,#3ecc5f,#28a745 );
}
.service-body .service-item:nth-child(2)
{
    background:linear-gradient(to bottom, orange ,#f68235);
}
.service-body .service-item:nth-child(3)
{
    background:linear-gradient(to bottom, #5baaff ,#007bff);
}
.about {
    padding: 50px;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 20px;
    color: #666;
}

.contact {
    padding: 50px;
    text-align: center;
    background: url('Images/contactbg.jpg') no-repeat center center/cover; 
    padding: 15vh 0vh;      
}


.wrapper {
    width:30%;
    margin: auto;
    background: rgba(255, 255, 255, 0.1); 
    border: 2px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    border-radius: 12px;
  }
.contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact input, .contact textarea {
    width: 300px;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    resize: none;
}

.contact button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.foot-area {
   background-color: #333;
   color: #fff;
   text-align: center;
   padding: 10px;
   position: relative;
   bottom: -1px;
   width: 100%; 
}


 footer {
     background-color: #333;
     color: #fff;
     text-align: center;
     padding: 10px;
 }
 

 