body {
     margin: 0;
     font-family: Arial, sans-serif;
     color: #333;
 }
 
 header {
     display: flex;
     justify-content: space-between;
     padding: 20px;
     background-color: #1d1d1d;
     color: #fff;
     /* position: sticky;
     top: 0px;
     z-index: 1; */
 }
 
 header .logo {
     font-size: 24px;
     font-weight: bold;
     color: #ff6600;
 }
 
 header nav ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     display: flex;
 }
 
 header nav ul li {
     margin: 0 15px;
     padding: 3px;
 }
 header nav ul li a:hover{
    color: #ff6600;
}
 
 header nav ul li a {
     color: #fff;
     text-decoration: none;
 }
 
.ContactSection{
    width: 100%;
  background-image: url('Images/contactbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  margin-top: 20vh;
}
.ContactSectionBody{
    width:auto;
    height: 90vh;
    margin: auto;
   display: grid;
   place-items: center;
   
 }
 .ContactForm{
   width:40%;
    display: grid;
    padding:0vh 5vh 5vh;
    background-color: rgba(255, 255, 255,0.3);
    box-shadow: 0px 0px 10px  #1d1d1d;
    border-radius: 10px;
 }
 .ContactForm .NameFild{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap:0px 20px;
 }
 .NameFild > div{
   display: grid;
   width: 45%;
 }
 .ContactForm label{
   font-size:medium;
   font-weight: bold;
   color: #1d1d1d;
   margin-top: 10px;
 }
 .ContactForm > h2{
   color: #fff;
   font-size: xx-large;
   text-transform: uppercase;
   margin-bottom:10px;
 }
 .ContactForm input,textarea{
   font-size: medium;
   padding: 5px;
   width: 100%;
   resize: none;
 }
 .Buttons{
   display: flex;
   gap: 10px;
   margin-top: 20px;
 }
 .Buttons .Btn{
   padding: 5px 10px;
   font-size: medium;
   font-weight: bold;
   text-decoration: none;
   background-color: transparent;
   color:#fff;
   cursor: pointer;
 }
 .Buttons .Btn:nth-child(2){
   background-color: #28a745;
   border:3px solid #28a745;
 }
 .Buttons .Btn:nth-child(1){
   background-color: #dc3545;
   border:3px solid #dc3545;
 }
 .Buttons .Btn:nth-child(2):hover{
        box-shadow: 0px 0px 5px #28a745;
 }
 .Buttons .Btn:nth-child(1):hover{
   box-shadow: 0px 0px 5px #dc3545;
 }
 
 @media (min-width:650px) and (max-width:950px){
   
   .LoginForm{
     width:60%;
   }
 
 }
 @media (min-width:100px) and (max-width:649px){
   .ContactForm{
     width:70%;
   }
   .NameFild > div{
     display: grid;
     width:100%;
   }
 
 } 

.foot-area {
   background-color: #333;
   color: #fff;
   text-align: center;
   padding: 10px;
   position: relative;
   bottom: -1px;
   width: 100%; 
}


 footer {
     background-color: #333;
     color: #fff;
     text-align: center;
     padding: 10px;
 }
 

 