body {
     margin: 0;
     font-family: Arial, sans-serif;
     color: #333;
 }
 
 header {
     display: flex;
     justify-content: space-between;
     padding: 20px;
     background-color: #1d1d1d;
     color: #fff;
     position: sticky;
     top: 0px;
     z-index: 1;
 }
 
 header .logo {
     font-size: 24px;
     font-weight: bold;
     color: #ff6600;
 }
 
 header nav ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     display: flex;
 }
 
 header nav ul li {
     margin: 0 15px;
     padding: 3px;
 }
 header nav ul li a:hover{
    color: #ff6600;
}
 
 header nav ul li a {
     color: #fff;
     text-decoration: none;
 }
 
 .hero {
    width: 100%;
     color: #fff;
     position: relative;
     overflow: hidden;
 }
 .hero-slider{
    width: 100%;
    margin: auto;
    height:93vh;
 }
 .hero-slider img{
    width: 100%;
    height: 100%;
 }
 .hero-content{
    width: 100%;
    position: absolute;
    bottom: 10vh;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.502);
    text-align: center;
    padding: 20px 0px;
 }
 .hero-content h1{
    font-size:40px;
    text-transform: capitalize;
    line-height: 0px;
 }
 .hero-content p{
    font-size: x-large;
    text-transform: capitalize;
 }
.services {
   width: 100%;
   text-align: center;
   padding: 10vh 0vh;
}
.services h2{
    text-align: center;
    font-size:x-large;
    text-transform: uppercase;
    display: inline;
    border-bottom: 4px solid #ff6600;
    border-radius: 10px;
    padding: 5px 10px;
}
.service-body{
width: 90%;
margin: auto;
display: flex;
justify-content: space-between;
padding: 10vh 0vh;
}
.service-body .service-item{
    width: 25%;
    background-color: #fff;
    padding: 2%;
    box-shadow: 0px 0px 10px #cbcbcb;
    border-radius: 5px;
    border: 2px solid #fff;
    position: relative;
}
.service-item h3{
    font-size:x-large;
}
.service-item p{
    font-size:medium;
    text-transform: capitalize;
}
.service-item .button{
    position:absolute;
    width: 100%;
    height: 35%;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0px;
    bottom: 0px;
    display: none;
}
.service-item:hover .button{
    display:block;

}
.service-item button{
    margin-top: 20px;
    background-color: crimson;
    padding:5px 10px;
    border-radius: 5px;
}
.service-item a{
    color: #fff;
    text-decoration: none;
}
.service-item img{
    width: 70px;
    height: 70px;
}
.service-body .service-item:hover{
    box-shadow: none;
    cursor: pointer;
    border: 2px solid #666;
}
.service-body .service-item:nth-child(1)
{
    background:linear-gradient(to bottom,#3ecc5f,#28a745 );
}
.service-body .service-item:nth-child(2)
{
    background:linear-gradient(to bottom, orange ,#f68235);
}
.service-body .service-item:nth-child(3)
{
    background:linear-gradient(to bottom, #5baaff ,#007bff);
}
.service-body .service-item:nth-child(4)
{
    background:linear-gradient(to bottom, #f36573 ,#dc3545);
}

.ContactSection{
    width: 100%;
  background-image: url('Images/contactbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
}
.ContactSectionBody{
    width:auto;
    height: 90vh;
    margin: auto;
   display: grid;
   place-items: center;
   
 }
 .ContactForm{
   width:40%;
    display: grid;
    padding:0vh 5vh 5vh;
    background-color: rgba(255, 255, 255,0.3);
    box-shadow: 0px 0px 10px  #1d1d1d;
    border-radius: 10px;
 }
 .ContactForm .NameFild{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap:0px 20px;
 }
 .NameFild > div{
   display: grid;
   width: 45%;
 }
 .ContactForm label{
   font-size:medium;
   font-weight: bold;
   color: #1d1d1d;
   margin-top: 10px;
 }
 .ContactForm > h2{
   color: #fff;
   font-size: xx-large;
   text-transform: uppercase;
   margin-bottom:10px;
 }
 .ContactForm input,textarea{
   font-size: medium;
   padding: 5px;
   width: 100%;
   resize: none;
 }
 .Buttons{
   display: flex;
   gap: 10px;
   margin-top: 20px;
 }
 .Buttons .Btn{
   padding: 5px 10px;
   font-size: medium;
   font-weight: bold;
   text-decoration: none;
   background-color: transparent;
   color:#fff;
   cursor: pointer;
 }
 .Buttons .Btn:nth-child(2){
   background-color: #28a745;
   border:3px solid #28a745;
 }
 .Buttons .Btn:nth-child(1){
   background-color: #dc3545;
   border:3px solid #dc3545;
 }
 .Buttons .Btn:nth-child(2):hover{
        box-shadow: 0px 0px 5px #28a745;
 }
 .Buttons .Btn:nth-child(1):hover{
   box-shadow: 0px 0px 5px #dc3545;
 }
 
 @media (min-width:650px) and (max-width:950px){
   
   .LoginForm{
     width:60%;
   }
 
 }
 @media (min-width:100px) and (max-width:649px){
   .ContactForm{
     width:70%;
   }
   .NameFild > div{
     display: grid;
     width:100%;
   }
 
 } 

.foot-area {
   background-color: #333;
   color: #fff;
   text-align: center;
   padding: 10px;
   position: relative;
   bottom: -1px;
   width: 100%; 
}


 footer {
     background-color: #333;
     color: #fff;
     text-align: center;
     padding: 10px;
 }
 

 